<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>API rest Spring + Vue.js -- </span>
        <span class="font-weight-light">Api(s)</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <Principal/>
    </v-content>
  </v-app>
</template>

<script>
import Principal from './components/Principal';

export default {
  name: 'App',
  created () {
    document.title = "Estrutural restAPI+Vue.js by Thiago Gonçalves";
  },
  components: {
    Principal,
  },
};
</script>
