<template>
  <v-container>
    <v-layout text-center wrap>
      <v-flex mb-4>
        <h1>Preços do Bitcoin</h1>
        <h3>valores retirados da API: https://api.coindesk.com/v1/bpi/currentprice.json</h3>
        <div v-for="info in infos" :key="info">
          {{ info.description }}:
          <span>
            <span v-html="info.symbol"></span>
            {{ info.rate_float | currencydecimal }}
          </span>
        </div>
      </v-flex>

      <v-data-table :headers="headers" :items="users" class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Usuarios</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Cadastrar Novo</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Novo Usuario</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.nome" label="Nome Usuario"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                  <v-btn color="blue darken-1" text @click="save(editedItem)">Salvar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
          <!--O que chega aqui -->
          <v-btn text small @click="editItem(item)">edit</v-btn>
          <v-btn text small @click="deleteItem(item)">delete</v-btn>
        </template>
      </v-data-table>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    infos: "",
    dialog: false,
    headers: [
      { text: "Nome", value: "nome" },
      { text: "Email", value: "email" },
      { text: "Ações", value: "action", sortable: false }
    ],
    users: [],
    editedIndex: -1,
    userId: 1,
    editedItem: {
      id: "",
      nome: "",
      email: ""
    },
    defaultItem: {
      id: "",
      nome: "",
      email: ""
    }
  }),

  mounted() {
    axios
      .get("https://api.coindesk.com/v1/bpi/currentprice.json")
      .then(response => (this.infos = response.data.bpi))
      .catch(er => {
        alert("Erro ao tentar acessar 'api.coindesk.com': " + er);
      });

    axios
      .get("http://localhost:9595/api/v1/users")
      .then(response => (this.users = response.data));
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  methods: {
    editItem(user) {
      let userId = this.users.indexOf(user);
      this.editedIndex = userId;
      this.editedItem = Object.assign({}, user);
      this.dialog = true;
    },

    deleteItem(user) {
      axios
        .delete("http://localhost:9595/api/v1/users/" + user.id)
        .then(() => {
          this.users.splice(user.id, 1);
          alert("deletado!");
        })
        .catch(er => {
          alert("Erro ao deletar: " + er);
        });
    },

    save(user) {
      //edit
      if (this.editedIndex > -1) {
        axios
          .put("http://localhost:9595/api/v1/users/" + user.id, user)
          .then(() => {
            this.users.splice(user);
            alert("Editado!");
          })
          .catch(er => {
            alert("Erro ao editar: " + er);
          });
      } 
      //save
      else {
        axios
          .post("http://localhost:9595/api/v1/users/", user)
          .then(() => {
            this.userId += 1;
            user.id = this.userId;
            this.users.push(user);
          })
          .catch(er => {
            alert("Erro ao cadastrar: " + er);
          });
      }

      this.close();
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    }
  }
};
</script>
